html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #0F0D12;
}

.video-stage {
  width: 100vw;
  height: 100vh;
  background: #0F0D12;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.youtube {
  width: 90%;
  height: 90%;
  border-radius: 12px;
}
